@import './variables.scss';
@import './mixin.scss';
html,
body,
#app {
  font-family: Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2D4054;
  font-size: 14px;
  background-color: #F3F3F3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}